@font-face {
    font-family: 'DungeonFont';
    src: url(./fonts/dungeonFont.ttf);
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: 'DungeonFontBold';
    src: url(./fonts/dungeonFontBold.ttf);
    font-style: bold; 
    font-weight: normal; 
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

html{
    font-family: 'DungeonFontBold';
    background:  url(./images/back12.jpg) fixed center no-repeat;
    background-size: cover;
    font-size: 22px;
}
body{
    margin-top: 10%;
    display: relative;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 160px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#modalText{
    padding-top: 10%;
}

.modalContent {
    position: relative;
    background: url(./images/modal.png);
    background-size: cover;
    height: 200px;
    margin: auto;
    width: 700px;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.close {
    padding-right: 10%;
    padding-top: 5%;
    float: right;
    font-size: 30px;
}

.close:hover {
    color: rgb(187, 8, 8);
    cursor: pointer;
}

button {
  font-family: 'DungeonFont';
  background-color: #b1a823d2;
  border: none;
  color: #FFFFFF;
  text-shadow:  2px 2px 2px rgba(0,0,0,0.24);
  font-size: 14pt;
  padding: 10px;
  cursor: pointer;
}

#divideButton{
    border-radius: 20%;
}

button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.clearButtons{
    margin-top: 2%;
    display: none;
}
#clearAll{
    border-radius: 5px 0 0 5px;
}
#clearPrevious{
    border-radius: 0 5px 5px 0;
}

button:hover{
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover span {
    padding-right: 5px;
    padding-left: 5px;
}

input{
    font-family: 'DungeonFont';
    outline: none;
    padding: 5px;
    border: none;
    text-align: center;
}

#inputXp{
    font-size: 25px;
    background: url(./images/scroll.png);
    width: 230px;
    height: 50px;
    letter-spacing: 5px;
}

input::placeholder{
    letter-spacing: normal;
}

#divider{
    background: #b1a823d2;
    border-radius: 20%;
    width: 50px;
    height: 15px;
    color: #FFFFFF;
    text-shadow:  2px 2px 2px rgba(0,0,0,0.24);
    font-size: 14pt;
}

#title{
    font-size: 30px;
    line-height: 10px;
    text-shadow: 2px 1px 1px rgba(53, 48, 48, 0.863);
    color: #b1a823d2;
}

#totalXp{
    margin-bottom: -0.5%;
    font-size: 35px;
}